Michiru/bin/
Michiru/obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
Builds/
WakeOnLanCSharp/obj/
WakeOnLanCSharp/bin/
Michiru/Utils/MusicProviderApis/Deezer/
Michiru/Utils/MusicProviderApis/Spotify/
Michiru/Utils/MusicProviderApis/Tidal/
